.wraperCity{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: url('/backgroundCity.JPEG') no-repeat center;
    object-fit: contain;
}

.containerCity{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    color:white;
}

.Naslov{
    color:white;
}
